@use "./helper" as *;

.sect-3 {
  min-height: 100vh;
  padding: 2rem 0;
  background: $darkRed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $textWhite;
  letter-spacing: 0.1rem;

  .sect3-content-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;

    .col-1 {
      width: 50%;
      .serve-btn-div {
        margin-top: 1rem;
      }
    }
    .image {
      background-image: url(../images/church1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 50%;
      height: 50vh;
    }
    .info {
      padding-left: 5rem;
      h1 {
        padding-bottom: 1.5rem;
        font-family: sans-serif;
      }
    }
  }
}

.sect3-content-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  .serve {
    padding-right: 5rem;
  }
  .col-2 {
    width: 50%;
    .serve-btn-div {
      margin-top: 1rem;
    }
    h1 {
      padding-bottom: 1rem;
      font-family: sans-serif;
    }
  }
  .img {
    background-image: url(../images/churchcamp1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 50vh;
  }
}
