@use "./helper" as *;

.sect2 {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  h1 {
    font-family: sans-serif;
    text-align: center;
    margin: 2rem 0;
  }
  .sect2-container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      text-align: center;
    }
    .sect2-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;
      text-align: center;
      width: 100%;

      h2 {
        margin-bottom: 2rem;
      }
      .ministry-col {
        width: 100%;
        img {
          width: 100%;
          height: 300px;
          object-fit: fill;
        }
      }
    }
  }
}
