@use "./helper";
@use "./navbar";
@use "./hero";
@use "./service";
@use "./prayer";
@use "./ministry.scss";
@use "./location";
@use "./footer";
@use "./section1";
@use "./section2.scss";
@use "./section3.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  scroll-behavior: smooth;
}
.center {
  width: min(90%, 110rem);
  margin-inline: auto;
}
